<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../assets/js/vue.js"></script>
    <title>vue.ccomponent 组件 全局组件与局部组件-重点</title>
</head>

<body>
<h1>vue.ccomponent 组件 全局组件与局部组件-重点</h1>
<a href="../index.html">返回首页</a>
<hr>
<div id="app">
    <h3>app位置：这里定义了局部组件sj</h3>
    <zsj></zsj>
    <sj></sj>
</div>
<div id="test">
    <h3>test位置：局部组件sj不会显示在这</h3>
    <zsj></zsj>
    <sj></sj>
</div>
<script>

    /*全局的定义 在构造器外部*/
    Vue.component('zsj', {
        template: `<h1 style="color: rebeccapurple">我是全局组件</h1>`
    });
    var app = new Vue({
        el: "#app",
        components: {
            'sj': {
                template: `<h3 style="color: red">我是局部组件</h3>`
            }
        },
        data: {},
        methods: {},
    });
    var test = new Vue({
        el: "#test",

        data: {},
        methods: {},
    })
</script>
</body>

</html>